<button (click)="disabled = !disabled">{{disabled?'enable':'disable'}}</button>
<button (click)="closeOnSelect = !closeOnSelect">{{closeOnSelect?'not close on select':'close on select'}}</button>
<div>
  <label style="display: inline-block">maxSelectionLength</label><input type="number" (change)="maxSelectionLength = $event.srcElement.value" style="display: inline-block"/>
</div>
<div>
  <label style="display: inline-block">max-dropdown-height</label>
  <select (change)="maxDropdownHeight = $event.srcElement.value" style="display: inline-block">
    <option value="100px">100px</option>
    <option value="200px">200px</option>
  </select>
</div>
<div>
  <label>Open on top</label>
  <input (change)="openOnTop = $event.target.checked" type="checkbox"/>
</div>

<div>
  <p>Select</p>
  <app-ng-selectio
    [$data]="$users"
    [$appendData]="$appendUsers"
    [disabled]="disabled"
    [closeOnSelect]="closeOnSelect"
    [maxSelectionLength] = "maxSelectionLength"
    [dropdownItemRenderer]="renderItem"
    [dropdownMaxHeight]="maxDropdownHeight"
    [selectionItemRenderer]="renderItem"
    [selectionMode]="'multiple'"
    [showSearch]="true"
    [selectionDeletable]="true"
    [paging]="true"
    [pagingDelay]="500"
    [openOnTop]="openOnTop"
    (onSearch)="onSearch($event)"
    (onNextPage)="onNextPage($event)"
  ></app-ng-selectio>
</div>
