.ngs {
  border: 1px solid grey;
}
.ngs-data {
  display: none;
  cursor: pointer;
  position: relative;
}
.ngs-data ul {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  list-style-type: none;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
}
.ngs-expanded .ngs-data {
  display: block;
}
.autocomplete > * {
  display: inline-block !important;
}
.autocomplete input {
  border: none;
}
.autocomplete input:focus {
  outline: none;
}

