.ngs {
  background-color: white;
}
.ngs:focus {
  outline: none;
}
.ngs:focus .selection-wrapper {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
}
.ngs .selection-wrapper {
  background-color: #fff;
  border: 1px solid;
  border-radius: 4px;
  border-color: #d9d9d9 #ccc #b3b3b3;
}
.ngs.expanded:not(.open-up) .selection-wrapper {
  border-radius: 4px 4px 0 0;
  border-bottom: 0;
}
.ngs.expanded.open-up .selection-wrapper {
  border-radius: 0 0 4px 4px;
  border-top: 0;
}
.ngs span.clear {
  cursor: pointer;
}


.ngs .dropdown-wrapper .dropdown {
  margin-top: 0;
}
.ngs .dropdown-wrapper .dropdown > div {
  background-color: white;
}
.ngs:not(.open-up) .dropdown-wrapper .dropdown > div {
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
}
.ngs.open-up .dropdown-wrapper .dropdown > div {
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
}
.ngs .dropdown-wrapper .dropdown li {
  padding: 5px;
}
.ngs .dropdown-wrapper .dropdown li.active {
  background-color: bisque;
  cursor: pointer;
}
.ngs .dropdown-wrapper .dropdown li.selected {
  background-color: grey;
}
.ngs .dropdown-wrapper .dropdown li.disabled {
  color: gray;
}


.ngs .selection {
  padding: 5px;
}
.ngs .selection .selected {
  background-color: #cccccc;
}
.ngs .selection.disabled {
  /*styles for disabled selection*/
}
.ngs .selection .empty {
  /*styles for span with empty selection*/
}
.ngs .selection .single {
  /*single selection mode*/
}
.ngs .selection .multiple {
  /*single selection mode*/
}
.ngs .selection .single.deletable {

}
.ngs .selection .multiple.deletable {

}
.ngs .selection span.arrow {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: calc(50% - 5px / 2);
  border: 5px solid gray;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}
.ngs .selection span.arrow.up-arrow {
  border: 5px solid gray;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}

.ngs .search {
  padding: 4px 8px 4px 4px;
}
.ngs .search input {
  width: 100%;
}


.ngs.autocomplete .selection-wrapper {
  cursor: text;
}
.ngs.autocomplete .search input {
  border: none;
  width: 5px;
}
.ngs.autocomplete .search input:focus {
  outline: none;
}
.ngs.autocomplete .selection {
  padding: 0 0 0 4px;
}
.ngs.autocomplete .search {
  padding: 4px 0 4px 0;
  margin-left: -2px;
}
