<p>Simple select array of strings</p>
<ng-selectio
  [$data]="$stringArray"
  [selectionEmptyRenderer]="noDataRenderer"
  [dropdownDisabledItemMapper]="disabledItem"
  [allowClear]="true"
></ng-selectio>
<p>Simple select array of objects</p>
<ng-selectio
  [$data]="$objectArray"
  [dropdownItemRenderer]="{template:renderCountry, bypassSecurityTrustHtml:true}"
  [selectionItemRenderer]="{template:renderCountry, bypassSecurityTrustHtml:true}"
  [selectionDefaultMapper]="selectionDefaultMapper"
  (onSelect)="onSelectCountry($event)"
></ng-selectio>
<p>Simple select array of strings with search</p>
<ng-selectio
  [$data]="$stringArray"
  [search]="true"
  (onSearch)="onSearchString($event)"
></ng-selectio>
<p>Simple select array of strings with search and autocomplete</p>
<ng-selectio
  [$data]="$stringArray"
  [search]="true"
  [autocomplete]="true"
  (onSearch)="onSearchString($event)"
></ng-selectio>
<p>remote data select with search and pagination</p>
<ng-selectio
  [$data]="$users"
  [$appendData]="$appendUsers"
  [dropdownItemRenderer]="renderItem"
  [selectionItemRenderer]="renderItem"
  [selectionMode]="'multiple'"
  [search]="true"
  [allowClear]="true"
  [pagination]="true"
  [paginationDelay]="500"
  (onSearch)="onSearch($event)"
  (onNextPage)="onNextPage($event)"
></ng-selectio>

<p>inside form</p>
<div>
    <ng-selectio [(ngModel)]="itemArray"
      [$data]="$stringArray"
      [selectionEmptyRenderer]="noDataRenderer"
      [dropdownDisabledItemMapper]="disabledItem"
      [allowClear]="true"
    >
    </ng-selectio>
  <div>{{itemArray}}</div>
</div>
