<div id="container" #container>

  <div class="menu" #menu>
    <nav>
      <a [routerLink]="['/docs']" [class.active]="isSectionActive('inputs')" fragment="inputs">Inputs </a>
      <a [routerLink]="['/docs']" [class.active]="isSectionActive('outputs')" fragment="outputs">Outputs</a>
      <a [routerLink]="['/docs']" [class.active]="isSectionActive('methods')" fragment="methods">Methods</a>
    </nav>
    <div id="selectio-container">
      <h1>Selectio</h1>
      <ng-selectio *ngIf="showSelectio" #selectio
                   [data]="data"
                   [appendData]="appendData"
                   [selectionMode]="selectionMode"
                   [scrollToSelectionAfterOpen]="scrollToSelectionAfterOpen"
                   [searchDelay]="searchDelay"
                   [searchMinLength]="searchMinLength"
                   [search]="search"
                   [pagination]="pagination"
                   [autocomplete]="autocomplete"
                   [paginationDelay]="paginationDelay"
                   [disabled]="disabled"
                   [closeAfterSelect]="closeAfterSelect"
                   [selectionMaxLength]="selectionMaxLength"
                   [allowClear]="allowClear"
                   [clearSearchAfterCollapse]="clearSearchAfterCollapse"
                   [openUp]="openUp"
                   [searchPlaceholder]="searchPlaceholder"
                   [tabIndex]="tabIndex"
                   [trackByFn]="trackByFn"
                   (onSearch)="onSearch($event)"
                   (onNextPage)="onNextPage($event)"
      ></ng-selectio>
    </div>
  </div>

  <h1 id="inputs">Inputs</h1>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Description</th>
      <th>Type</th>
      <th>Depends</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr><td colspan="6">Behavior</td></tr>

    <tr>
      <td>data</td>
      <td>
        <app-select-input
          [options]="[{label: 'array of countries', value: DATA_LOCAL_ID}, {label: 'remote users', value: DATA_REMOTE_ID}]"
          [ngModel]="datasourceId"
          (ngModelChange)="onChangeRadioDatasource($event)">
        </app-select-input>
        <span *ngIf="isRemote()">Change data after onSearch event</span>
      </td>
      <td>Set data for dropdown list</td>
      <td>Item[]</td>
      <td></td>
      <td>[]</td>
    </tr>

    <tr>
      <td>appendData</td>
      <td>
        <button *ngIf="isRemote()" (click)="onManualAppend()">append users</button>
      </td>
      <td>After change appends data to list. Useful for pagination.</td>
      <td>Item[]</td>
      <td></td>
      <td>[]</td>
    </tr>

    <tr>
      <td>allowClear</td>
      <td>
        <app-checkbox-input
          [(ngModel)]="allowClear">
        </app-checkbox-input>
      </td>
      <td>Allows clearing selection</td>
      <td>boolean</td>
      <td></td>
      <td>false</td>
    </tr>

    <tr>
      <td>autocomplete</td>
      <td>
        <app-checkbox-input
          [(ngModel)]="autocomplete">
        </app-checkbox-input>
      </td>
      <td>Transforms to autocomplete mode</td>
      <td>boolean</td>
      <td></td>
      <td>false</td>
    </tr>

    <tr>
      <td>clearSearchAfterCollapse</td>
      <td>
        <app-checkbox-input
          [(ngModel)]="clearSearchAfterCollapse">
        </app-checkbox-input>
      </td>
      <td>Clear search after dropdown collapse</td>
      <td>boolean</td>
      <td></td>
      <td>true</td>
    </tr>

    <tr>
      <td>closeAfterSelect</td>
      <td>
        <app-checkbox-input
          [(ngModel)]="closeAfterSelect">
        </app-checkbox-input>
      </td>
      <td>Close dropdown after selection</td>
      <td>boolean</td>
      <td></td>
      <td>true</td>
    </tr>

    <tr>
      <td>disabled</td>
      <td>
        <app-checkbox-input
          [(ngModel)]="disabled">
        </app-checkbox-input>
      </td>
      <td>Disable control</td>
      <td>boolean</td>
      <td></td>
      <td>false</td>
    </tr>

    <tr>
      <td>openUp</td>
      <td>
        <app-checkbox-input
          [(ngModel)]="openUp">
        </app-checkbox-input>
      </td>
      <td>Open dropdown up</td>
      <td>boolean</td>
      <td></td>
      <td>false</td>
    </tr>

    <tr>
      <td>pagination</td>
      <td>
        <app-checkbox-input
          [(ngModel)]="pagination">
        </app-checkbox-input>
      </td>
      <td>Use pagination</td>
      <td>boolean</td>
      <td></td>
      <td>false</td>
    </tr>

    <tr>
      <td>paginationDelay</td>
      <td>
        <app-number-input [(ngModel)]="paginationDelay">
        </app-number-input>
      </td>
      <td>Delay in milliseconds</td>
      <td>number</td>
      <td></td>
      <td>0</td>
    </tr>

    <tr>
      <td>scrollToSelectionAfterOpen</td>
      <td>
        <app-checkbox-input
          [(ngModel)]="scrollToSelectionAfterOpen">
        </app-checkbox-input>
      </td>
      <td>Scroll to selection after open dropdown</td>
      <td>boolean</td>
      <td></td>
      <td>true</td>
    </tr>

    <tr>
      <td>search</td>
      <td>
        <app-checkbox-input
          [(ngModel)]="search">
        </app-checkbox-input>
      </td>
      <td>Use search input</td>
      <td>boolean</td>
      <td></td>
      <td>false</td>
    </tr>

    <tr>
      <td>searchDelay</td>
      <td>
        <app-number-input
          [(ngModel)]="searchDelay">
        </app-number-input>
      </td>
      <td>Search delay</td>
      <td>number</td>
      <td></td>
      <td>0</td>
    </tr>

    <tr>
      <td>searchMinLength</td>
      <td>
        <app-number-input
          [(ngModel)]="searchMinLength">
        </app-number-input>
      </td>
      <td>Search minimal length</td>
      <td>number</td>
      <td></td>
      <td>-1</td>
    </tr>

    <tr>
      <td>selectionMaxLength</td>
      <td>
        <app-select-input
          [options]="[-1, 1, 2]"
          [(ngModel)]="selectionMaxLength">
        </app-select-input>
      </td>
      <td>Max selection items count</td>
      <td>number</td>
      <td></td>
      <td>-1</td>
    </tr>

    <tr>
      <td>selectionMode</td>
      <td>
        <app-select-input
          [options]="['single', 'multiple']"
          [(ngModel)]="selectionMode">
        </app-select-input>
      </td>
      <td>Single or multiple mode</td>
      <td>'single'|'multiple'</td>
      <td></td>
      <td>'single'</td>
    </tr>

    <tr>
      <td>tabIndex</td>
      <td>
        <app-number-input
          [(ngModel)]="tabIndex">
        </app-number-input>
      </td>
      <td>tabIndex</td>
      <td>number</td>
      <td></td>
      <td>1</td>
    </tr>

    <tr>
      <td>trackByFn</td>
      <td>
        <app-select-input
          [options]="[{label: 'none', value: null}, {label: 'by index', value: trackByFn_byIndex}]"
          [(ngModel)]=trackByFn>
        </app-select-input>
      </td>
      <td>Standard angular trackby function for *ngFor</td>
      <td>((index: number, item: Item) => any) | null</td>
      <td></td>
      <td>null</td>
    </tr>

    <tr>
      <td colspan="6">View</td>
    </tr>


    <tr>
      <td>searchPlaceholder</td>
      <td>
        <app-text-input
          [(ngModel)]="searchPlaceholder">
        </app-text-input>
      </td>
      <td>searchPlaceholder</td>
      <td>string</td>
      <td></td>
      <td>''</td>
    </tr>

    </tbody>
  </table>

  <h1 id="outputs">Outputs</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>onSearch</td>
      <td>string</td>
      <td>invokes on every search event</td>
    </tr>
    <tr>
      <td>onNextPage</td>
      <td>{{ '{' }}currentLength: number, search: string{{ '}' }}</td>
      <td>invokes on every pagination event</td>
    </tr>
    <tr>
      <td>onSelect</td>
      <td>Item</td>
      <td>invokes on every select event</td>
    </tr>
  </table>

  <h1 id="methods">Methods</h1>

</div>
